body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
        }

/*----------------------- header stuff----------------------------------*/
.header,.headlink{
    background-color: #1f2937;
    color: azure;

}
.header{
    display: flex;
    align-content: center;
    padding-bottom: 50px;
    margin-bottom: -25px;
    width:100%;
    justify-content: space-between;
}

.headlink {
    display: flex;
    justify-self: end;
    align-self: center;
    gap: 10px;
}
.headlink a{
    color: azure;
    text-decoration: none;
    align-self: flex-end;
}
/*------------------------first container-------------------------------------*/

.onecontain{
    background-color: #1f2937;
    color: azure;
    display: flex;
    justify-content: center;
    gap: 20PX;
    }
.oneleft{
    display: flex block;
    align-self:center;
    justify-content: space-evenly;
    width: 50%;
    padding: 20px;
}

#firstbutt{
    background-color: rgb(26, 109, 109);
    color: azure;
    font-size: 15px;
    padding: 3px 8px;
    text-decoration:none ;
    border-radius: 5px;
    border: none;
}
/*----------------------------second container------------------------------------------*/

