.body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header,.headlink{
    width: 100%;
    background-color: #1f2937;
    color: azure;

}
.header{
    display: flex;
    align-content: center;
    justify-content: start;
}

.headlink {
    display: flex;
    justify-content: end;
    align-self: center;
    gap: 10px;
}
.headlink a{
    color: azure;
    text-decoration: none;
}